.container{
    height: 100%;
    position: relative;
}
img{
    width: 85%;
    border-radius: 12%;
    height: 10rem;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    object-fit: cover;
}
.card{
    padding: 1.5em .5em .5em;
    border-radius: 2em;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.card-title{
    font-weight: 700;
    font-size: 1.5em;
    height: 40px;
    width: 100%;
    color: #410B13;
}
.card-text{
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    color: #CD5D67;
}
.btnAdd{
    border-radius:2em;
    color: #eeeeee;
    background: #BA1F33;
    padding: .5em 1.5em;
    /* margin-top: 20rem; */
}
.btnAdd:hover{
    background: #91171F;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
    transition: all 0.3s ease;
}
/* .btnAddV{
    border-radius:2em;
    color: #000000;
    background: rgba(240, 189, 78, 0.8);
    padding: .5em 1.5em;
}
.btnAddV:hover{
    background: rgba(240, 189, 78, 1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
    transition: all 0.3s ease;
} */