<link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">
<nav class="navbar bg-dark bg-gradient" *ngIf="userLogged | async as user; else loggedOff">
    <a class="navbar-brand mx-2 p-2 logo" href="home">
      MiPlazoleta
    </a>
    <div class="dropdown mx-2  user">
        <button type="button" class="btn btn-outline-secondary" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
          aria-controls="collapseExample">
          <img  *ngIf="user.photoURL && user.displayName; else email" src='{{user.photoURL}}' alt="" width="30" height="30">
          {{user.displayName}}
          <ng-template #email>
            {{user.email}}
          </ng-template>
        </button>
        <div class="dropdown-menu dropdown-menu-lg-right" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
          <a class="logout dropdown-item" href="#" (click)="salir()">
            Cerrar sesión
          </a>
        </div>
    </div>
</nav>  
<ng-template #loggedOff>
    <nav class="navbar bg-dark bg-gradient">
      <a class="navbar-brand mx-2 p-2 logo" href="home">
        MiPlazoleta
      </a>
    </nav> 
</ng-template>