@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
.navbar-light .navbar-nav:hover{
    color: rgba(240, 189, 78, 1);
    transition: all 0.3s ease;
}
.navbar-nav .items{
    color: #f2f2f2;
}
.navbar-nav .items:hover{
    color: rgba(240, 189, 78, 1);
    transition: all 0.3s ease;
}
.logo{
    color: #f2f2f2;
}
.logo:hover{
    color: rgba(240, 189, 78, 1);
    transition: all 0.3s ease;
}
.active{
    background: rgba(240, 189, 78, 0.8);
    border-radius: 5px;
    
}
.active .cs{
    color: #000000;
}
.active{
    text-decoration: none;
}
.active:hover{
    background:rgba(240, 189, 78, 1);
    transition: all .3s ease;
}