@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
.navbar-light .navbar-nav:hover{
    color: #BA1F33;
    transition: all 0.3s ease;
}
.bg-header{
    background: #eeeeee;
}
.navbar-nav .items{
    color: #91171F;
}
.navbar-nav .items:hover{
    color: #BA1F33;
    transition: all 0.3s ease;
}
.logo{
    color: #91171F;
}
.logo:hover{
    color: #BA1F33;
    transition: all 0.3s ease;
}
.active{
    background: #BA1F33;
    border-radius: 5px;
    
}
.active .cs{
    color: #eeeeee;
}
.active{
    text-decoration: none;
}
.active:hover{
    background:#91171F;
    transition: all .3s ease;
}