<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-4 mt-3 mb-3" *ngFor="let item of menu">
            <div class="card m-1">
                <div class="card-body">
                  <h5 class="card-title">{{item.nombre}}</h5>
                  <p class="card-text text-center">{{item.descripcion}}</p>
                  <div class="d-grid">
                    <button class="btn btnAdd m-1" (click)="verPlatillos(item.id)">Ver Platillos <fa-icon class="mr-5" [icon]="faEye"></fa-icon></button>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>