.card{
    padding: 1.5em .5em .5em;
    border-radius: 2em;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    height: 100%;
}
.card-title{
    font-weight: 700;
    font-size: 1.5em;
    color: rgba(240, 189, 78, 1);
}
.card-text{
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.btnAdd{
    border-radius:2em;
    color: #000000;
    background: rgba(240, 189, 78, 0.8);
    padding: .5em 1.5em;
}
.btnAdd:hover{
    background: rgba(240, 189, 78, 1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
    transition: all 0.3s ease;
}