<div class="container mt-5 mb-5" *ngIf="productos != null && pedido.estado == 'Enviado'">
  <div class="table-responsive">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Imagen</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr class="col-12" *ngFor="let item of productos; let i = index">
            <th scope="row">{{i+1}}</th>
            <td > <div class="image">
                <img src="{{item.platillo.imagen}}" alt="">
            </div> </td>
            <td>{{item.platillo.nombre}}</td>
            <td>{{item.total| currency: 'COP '}}</td>
            <td>{{item.cantidad}}</td>
            <td>
              <button class="btn btn-aument m-2" (click)="aumentarCantidad(item.platillo)"><fa-icon [icon]="faPlus"></fa-icon></button>
              <button class="btn btn-decrement m-2" (click)="decrementarCantidad(item.platillo)"><fa-icon [icon]="faMinus"></fa-icon></button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td scope="col"></td>
            <td scope="col"></td>
            <td scope="col"></td>
            <th scope="col">TOTAL A PAGAR</th>
            <th scope="col">{{pedido.precioTotal | currency: 'COP '}}</th>
          </tr>
        </tfoot>
      </table>
  </div>
  <div class="row">
    <div class="col-md-12 mt-3 mb-3 d-grid">
      <button class="btn btnAdd" (click)="enviarPedido()">Realizar Pedido</button>
    </div>
  </div>
</div>

<div class="container mt-5 mb-5"*ngIf="productos != null && pedido.estado != 'Enviado' ">
    <div class="row">
        <div class="text-center">
            <p>Estado: <b class="mx-2 estado">{{pedido.estado}}</b> </p>
        </div>
    </div>
    <div class="table-responsive">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Imagen</th>
              <th scope="col">Nombre</th>
              <th scope="col">Precio</th>
              <th scope="col">Cantidad</th>
            </tr>
          </thead>
          <tbody>
            <tr class="col-12" *ngFor="let item of productos; let i = index">
              <th class="col-1">{{i+1}}</th>
              <td ><div class="image">
                  <img src="{{item.platillo.imagen}}" alt="">
              </div> </td>
              <td>{{item.platillo.nombre}}</td>
              <td>{{item.total| currency: 'COP '}}</td>
              <td>{{item.cantidad}}</td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-md-12 mt-3 mb-3">
            <p class="text-center">Cantidad Pagada: <b>{{pedido.precioTotal | currency: 'COP '}}</b></p>
        </div>
    </div>
    <div class="row" *ngIf="pedido.estado == 'Entregado'">
      <div class="col-md-12 d-grid m-2">
        <button class="btn btnAdd" (click)="confirm()">Confirmar Pedido</button>
      </div>
    </div>
  </div>


<div class="container cdor" *ngIf="productos == null">
  <div class="row m-5">
    <div class="col-md-12">
      <h5 class="text-center">
        NO HAY PRODUCTOS AGREGADOS EN EL CARRITO!
      </h5>
    </div>
  </div>
</div>


  
  
  
