.image{
    width: 100%;
    height: 120px;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
}
.cdor{
    height: 50vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.btn-aument{
    border-color: #BA1F33;
    color: #BA1F33;
}
.btn-aument:hover{
    background-color: #BA1F33;
    color: #eeeeee;
}
.btn-decrement{
    border-color: #421820;
    color: #421820;
}
.btn-decrement:hover{
    background-color: #410B13;
    color: #eeeeee;
}
.btnAdd{
    border-radius:2em;
    color: #eeeeee;
    background: #BA1F33;
    padding: .5em 1.5em;
}
.btnAdd:hover{
    background: #91171F;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
    transition: all 0.3s ease;
}
.estado, h5{
    color: #421820;
}