
<section>
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-4 mt-3 mb-3" *ngFor="let item of restaurants">
                <div class="card m-2">
                    <div class="image">
                        <img src="{{item.image}}" class=" card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">{{item.nombre}}</h5>
                      <p class="card-text"> Tiempo Estimado: <b>40 - 60</b> mins</p>
                      <div class="d-grid">
                          <a (click)="enviarId(item.id)" class="btn button">Ver Menus</a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>