
.card{
    padding: 1.5em .5em .5em;
    border-radius: 2em;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    height: 100%;
}
.card-title{
    font-weight: 700;
    font-size: 1.5em;
    color: #410B13;
}
.card-text{
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #CD5D67;
}
.btnEdit{
    border-color: #CD5D67;
    border-radius: 2em;
    color: #000000;
    background: white;
    padding: .5em 1.5em;
}
.btnEdit:hover {
    background: #CD5D67;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
    transition: all 0.3s ease;
}
.btnElim{
    border-color: #BA1F33;
    border-radius:2em;
    color: #000000;
    background: white;
    padding: .5em 1.5em;
}
.btnElim:hover {
    background: #BA1F33;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
    transition: all 0.3s ease;
}
.btnAdd{
    border-radius:2em;
    color: #eeeeee;
    background: #BA1F33;
    padding: .5em 1.5em;
}
.btnAdd:hover{
    background: #91171F;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
    transition: all 0.3s ease;
}
h5{
    color: #410B13;
}

.cdor{
    height: 50vh;
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
}