
.image{
    width: 100%;
    height: 30rem;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a{
    text-decoration: none;
    color: #CD5D67;
}
b, label{
    color: #CD5D67;
}
.btn-ingresar{
    border-color: #91171F;
    color: #91171F;
}
.btn-ingresar:hover{
    background-color: #91171F;
    color: #f2f2f2;
}

