
<div class="container">
	<div class="row mt-4 mb-4">
		<div class="col-md-6">
      <ngb-carousel>
				<ng-template *ngFor="let imagen of images"  ngbSlide>
				  <div class="picsum-img-wrapper">
					<img src="../../../assets/{{imagen.img}}" alt="">
				  </div>
				  <div class="carousel-caption">
					<h3>{{imagen.name}}</h3>
					<p>{{imagen.des}}</p>
				  </div>
				</ng-template>
			</ngb-carousel>
		</div>
		<div class="col-md-6">
      <form  (ngSubmit)="f.form.valid && guardarRestauranteCreado()" #f="ngForm"  class="needs-validation">
			<div class="card text-center ">
			  <div class="card-header mb-2"> 
					<b>REGISTRO DE RESTAURANTE </b>
				</div>
        <div class="row mx-2">
          <div class="col-md-12 ">
            <label for="Name" class="d-flex my-2 form-label">Nombre</label>
            <input class="form-control" type="text"  name="name" placeholder="Ingrese su nombre" [(ngModel)]="restaurant.nombre" required>
          </div>
        </div> 
        <div class="row mx-2">
          <div class="col-md-12">
            <label for="Email" class="d-flex my-2 form-label" >Email</label>
            <input class="form-control" type="email" name="email" placeholder="Ingrese su email" [(ngModel)]="restaurant.email" required>
          </div>
        </div> 
        <div class="row mx-2">
          <div class="col-md-12">
            <label for="password" class="d-flex my-2 form-label">Password</label>
            <input class="form-control" type="password" name="password" placeholder="Ingrese su contraseña (Min 6 Digitos.)" [(ngModel)]="restaurant.password" required>
          </div>
        </div>
        <div class="row mx-2 mb-2">
          <div class="col-md-12">
            <label for="Phone" class="d-flex my-2 form-label">Telefono</label>
            <input class="form-control" type="number" name="phone" placeholder="Ingrese su telefono" [(ngModel)]="restaurant.phone" required>
          </div>
        </div>
        <div class="row mx-2 mb-2">
          <div class="col-md-12">
            <label for="Descripcion" class="d-flex my-2 form-label">Descripción</label>
            <input class="form-control" type="text" name="descripcion" placeholder="Ingrese una breve descripcion"
             [(ngModel)]="restaurant.descripcion" required>
          </div>
        </div>
        <!-- <div class="row mx-2 mb-2">
          <div class="col-md-12" >
            <label for="idPlazoleta" class="d-flex my-2 form-label">Plazoleta Asociada </label>
            <select name="idPlazoleta" id="idPlazoleta" class="form-control" required>
              <option selected *ngFor="let plazolet of plazoletas">
                {{plazolet.nombre}}
              </option>
              <option (click) = "elegirPlazoleta()">2. </option>
              <option >3. </option>
            </select>
          </div>
        </div> -->
        <div class="row mx-2 mb-2">
          <div class="col-md-12">
            <label for="idPlazoleta" class="d-flex my-2 form-label">Plazoleta Asociada </label>
            <div class="form-check" *ngFor="let plazolet of plazoletas">
              <input (click)="elegirPlazoleta(plazolet.id)" class="form-check-input" type="radio" name="inlineRadioOptions" required>
              <label class="form-check-label d-flex" for="inlineRadio1">{{plazolet.nombre}}</label>
            </div>
          </div>
        </div>
        <div class="row mx-2 mb-2">
          <div class="d-grid mt-3">
            <button class="btn btn-outline-secondary " type="submit">REGISTRARME COMO RESTAURANTE</button>
          </div>
          <p for="register" class="mt-2">Ya tienes cuenta? <a routerLink="/login">Logeate!</a></p>
        </div>
			</div>
    </form>
		</div>  
	</div>
</div>
