<div class="container mt-5 mb-5">
	<div class="row">
		<div class="col-md-6 mt-3 mb-3">
      <ngb-carousel>
				<ng-template *ngFor="let imagen of images"  ngbSlide>
				  <div class="picsum-img-wrapper">
            <div class="image">
              <img src="{{imagen.img}}" alt="">
            </div>
				  </div>
				  <div class="carousel-caption">
					<h3>{{imagen.name}}</h3>
				  </div>
				</ng-template>
			</ngb-carousel>
		</div>
		<div class="col-md-6 mt-3 mb-3">
      <form class="needs-validation" (ngSubmit)="f.form.valid && guardarRestauranteCreado()" #f="ngForm">
			<div class="card">
			  <div class="card-header text-center mb-2"> 
					<b>REGISTRO DE RESTAURANTE </b>
				</div>
        <div class="row mx-2">
          <div class="col-md-5">
            <label for="Name" class="d-flex my-2 form-label">Nombre</label>
            <input class="form-control" type="text" name="nombre"  placeholder="Ingrese su nombre" [(ngModel)]="datos.nombre" required>
            <div class="invalid-feedback"></div>
          </div>
          <div class="col-md-7">
            <label for="Email" class="d-flex my-2 form-label" >Email</label>
            <input class="form-control" type="email"name="email"  placeholder="Ingrese su email"
            [(ngModel)]="datos.email" required>
            <div class="invalid-feedback"></div>
          </div>
        </div> 
        <div class="row mx-2">
          <div class="col-md-5">
            <label for="password" class="d-flex my-2 form-label">Password</label>
            <input class="form-control" type="password" name="password" placeholder="Minimo 6 digitos" 
            [(ngModel)]="datos.password" required>
          </div>
          <div class="col-md-7">
            <label for="Phone" class="d-flex my-2 form-label">Telefono</label>
            <input class="form-control" type="number" name="phone" placeholder="Ingrese su telefono"
            [(ngModel)]="datos.phone" required>
            <div class="invalid-feedback "></div>
          </div>
        </div>
        <div class="row mx-2">
          <div class="col-md-12">
            <label for="Descripcion" class="d-flex my-2 form-label">Descripción</label>
            <textarea class="form-control" type="text" name="descripcion" placeholder="Ingrese una breve descripcion"
            [(ngModel)]="datos.descripcion" required></textarea>
            <div class="invalid-feedback "></div>
          </div>
        </div>
        <div class="row mx-2 mb-2">
          <div class="col-md-12 form-group">
            <label for="image" class="d-flex my-2 form-label">Imagen</label>
            <input (change)="cargarImagen($event)" class="form-control" type="file" accept=".jpg, .jpeg, .png"  name="datos.image"
              ngModel required>
            <div class="invalid-feedback"></div>
          </div>
        </div>
        <div class="row mx-2">
          <div class="col-md-6">
            <label for="validationServer04" class="form-label">Plazoletas</label>
            <select class="form-select" id="validationServer04" name="idPlazoleta" aria-describedby="validationServer04Feedback" 
            [(ngModel)]="datos.idPlazoleta" required> 
              <option selected disabled value="">Elegir...</option>
              <option *ngFor="let plazoleta of plazoletas" >
                {{plazoleta.nombre}}
              </option>
            </select>
            <div class="invalid-feedback">Por favor selecciona una plazoleta.</div>
          </div>
        </div>
        <div class="row mx-2 mb-2">
          <div class="d-grid mt-3">
            <button class="btn btnRestaurant" type="submit">REGISTRARME COMO RESTAURANTE</button>
          </div>
          <p for="register" class="mt-2 text-center">Ya tienes cuenta? <a routerLink="/login">Logeate!</a></p>
        </div>
			</div>
    </form>
		</div>  
	</div>
</div>

